

body {
    background-color: #941447;
    margin: 0px;
}

/* Target the entire nav */
nav {
    width: 100%;
    height: 60px;
    background-color: #147a94;
    overflow: hidden;
    padding-bottom: 06px;
}

/* Taget a specific tab */
nav a {
    display: block;
    float: left;
    font-size: 30px;
    color: white;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-decoration: none;
    font-family: 'Poiret One', cursive;
    font-weight: 300;
    transition: 0.3s;
    border: 1px solid transparent;
}

/* pseudo-class for hover */
nav a:hover {
    background-color:#296b7b;
    border: 1px solid #fa834f;
    transition: 0.75s;
}

/* Target the logo for specific styles */
#logo {
    font-size: 40px;
    /* letter-spacing: -1px; */
    text-shadow: 1px 1px 2px #c4c4c4;
    padding-left: 60px;
    padding-right: 40px;
    margin-right: 10px;
    margin-top: -10px;
}


 
@media screen and (max-width: 680px) {
    body {
        background-color: black;
}
}